@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menu {
    position: relative;
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: -webkit-flex; /* Safari */
        display: -ms-box;
        display: flex;
        -webkit-flex-direction: row; /* Safari */
        flex-direction: row;
        justify-content: center;
        &-item {
            padding: 0;
            margin-bottom: 0;
            &-link {
                font-size: $typographic-base-font-size;
                color: $typographic-base-font-color;
                font-weight: 400;
                padding: 0 1em;
                height: $header-height;
                line-height: $header-height;
                display: block;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                &:hover,
                &:focus {
                    color: $color-primary;
                    border-bottom: 1px solid $color-primary;
                }
                &--active {
                    color: $color-base;
                    border-bottom: 1px solid $color-base;
                }
            }
        }
        &-item-login {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &__large {
        display: block;
        @media (max-width: 685px) {
            display: none;
        }
    }
    &__small {
        display: none;
        @media (max-width: 685px) {
            display: block;
            .menu__list {
                -webkit-flex-direction: column; /* Safari */
                flex-direction: column;
                &-item {
                    &-link {
                    background-color: $color-white;
                    padding: 0;
                        &:hover,
                        &:focus {
                            background-color: lighten($color-primary, 25%);
                            border-bottom: none;
                        }
                        &--active {
                            background-color: darken($color-white, 5%);
                            border-bottom: none;
                        }
                    }
                }
                &-item-login {
                    position: relative;
                }
            }
        }
        &-toggle-button {
            margin-left: auto;
            margin-right: 0;
            width: 45px;
            height: 45px;
            font-size: 25px;
            line-height: 45px;
            cursor: pointer;
            &.close {
                font-size: 40px;
            }
            &:hover,
            &:focus {
                color: $color-primary;
            }
        }
    }
    &:after {
        background: $color-gray-border;
        background: linear-gradient(to bottom, $color-gray-border 0%, $color-gray-border 48%, $color-white 100%);
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        lost-center: $layout-width;
        content: "";
        height: 1px;
    }
}
