@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.layout {
    margin-top: $header-height;
    &__body:after {
        content: "";
        display: block;
        clear: both;
    }
}
